@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}

html{
    font-size: 1.6rem;
    font-family: "Montserrat", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100vh;
}

:root{
    --color-fondo: #F8ECEC;
    --color-fuente: #456B80;
    --color-usuario: #454248;
    --color-boton: #00A7DC;
    --color-tarjeta: #fff
}

.article{
    background-color: var(--color-fondo);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.article__main{
    width: 26rem;
    height: 10rem;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
}

.section__imagen{
    max-width: 10rem;
    height: auto;
    margin: 0;
    padding: 0;
    object-fit: cover;
    border-radius: 0.5rem 0 0 0.5rem;
}

.section__card{
    width: calc(26rem - 10rem);
    height: 10rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-tarjeta);
    border-radius: 0 0.5rem 0.5rem 0rem;
}

.card__head{
    width: 100%;
    height: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.head__title{
    font-size: 0.7rem;
    color: var(--color-fuente);
    margin-bottom: 1rem;
}

.head__description{
    font-size: 0.55rem;
    color: var(--color-fuente);
    font-weight: 300;
    line-height: 1.2lh;

}

.main__section-contact{
    width: 100%;
    height: calc(10rem - 8rem);
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: relative;
}

.section__photo-user{
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
    transition: transform 0.2s ease;
}

.section__photo-user:hover{
    transform: scale(2);
    z-index: 2;

}

.section__user{
    position: absolute;
    left: 3rem;
    color: var(--color-fuente);
}

.user__btn{
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: var(--color-boton);
    cursor: pointer;
    transition: .3s all ease-in-out;
}

.fa-comment{
    font-size: 0.7rem;
    color: var(--color-fondo);
    
}

.user__btn:hover{
    background-color: #09094e;
    animation: cambiaFondo 2s ease-in-out infinite, crece 3s ease-in-out infinite;
}

@keyframes cambiaFondo{
    0%{
        box-shadow: 0 0px 30px var(--color-fuente);
    }
    50%{
        box-shadow: 0 0 30px var(--color-fondo);
    }
    80%{
        box-shadow: 0 0px 30px #09094e;
    }
    100%{
        box-shadow: 0 0px 30px var(--color-fuente);
    }
}

@keyframes crece{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(2);
    }
    100%{
        transform: scale(1);
    }
}