@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-fondo: #F7E9DC;
    --color-barras: #5DD8EC;
    --color-barra-activa: #596DC2;
    --color-letras-blancas: #FFFFFF;
    --color-letras-negras: #000;
    --color-fondo-seccion: #fff;
    --color-gris-claro: #787878;
}

body{
    font-size: 10px;
    font-family: 'Montserrat', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100vh;
    background-color: var(--color-fondo);
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.layout__header{
    width: 28rem;
    height: 7rem;
    margin: 1rem;
    padding: 2rem;
    border-radius: 1rem;
    background-color: var(--color-barras);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}


.header__parrafo{
    color: var(--color-letras-blancas);
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.header__title{
    color: var(--color-letras-blancas);
}

.layout__section{
    height: 21rem;
    width: 28rem;
    padding: 2rem;
    border-radius: 1rem;
    background-color: var(--color-fondo-seccion);
    overflow: none;
}


.section__article{
    height: 12rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.article__subtitle{
    font-size: 1.1rem;
    margin-bottom: 2rem;
}

.article__content{
    width: 100%;
    flex-grow: unset;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;

}

.content__bar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: end; 
}

.bar{
    width: 5rem;
    max-height: 8rem;
    border-radius: 0.2rem;
    background-color: var(--color-barras);
    margin: 0.2rem;
}

.bar:nth-child(1){
    height: 5rem;
    background-color: var(--color-barra-activa);
}

.bar:nth-child(2){
    height: 3rem;
}

.bar:nth-child(3),
.bar:nth-child(7){
    height: 1rem;
}

.bar:nth-child(4){
    height: 0.5rem;
}

.bar:nth-child(5){
    height: 4rem;
}

.bar:nth-child(6){
    height: 2rem;
}

.content__description{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.description_parrafo{
    color: var(--color-gris-claro);
    margin-top: 0.5rem;
}

.article__footer{
    width: 100%;
    height: calc(22rem - 16rem);
    border: 1px solid var(--color-gris-claro);
    border-radius: 0.5rem;
    padding: 1rem;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footer__parrafo{
    font-size: 0.7rem;
    color: var(--color-gris-claro);
    margin-bottom: 0.2rem;
}

.footer__subtitulo{
    font-size: 1.9rem;
    font-weight: 800;
    color: var(--color-letras-negras);
    
}

@media screen and (max-width: 472px){


    .layout__header{
        width: 20rem;
    }

    .layout__section{
        width: 20rem;
    }
}

@media screen and (max-width: 340px) {
        .layout__header{
        width: 15rem;
    }

    .layout__section{
        width: 15rem;
    }

    .footer__subtitulo{
        font-size: 1rem;
    }

    .article__footer{
        margin-top:  0.5rem;
    }
}
