@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    height: 100%;
}

body{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    font-family: 'Montserrat', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #F7F8FD;
}

.layout{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.layout__main{
    position: relative;
    width: 50rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main__title{
    color: #070A40;
    margin-bottom: 1rem;
    
}
.container__red{
    width: 50rem;
    height: 2rem;
    background-color: #37384E;
    
}

.main__container{
    width: 65rem;
    height: 10rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

.container__red{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container__red:first-child{
    border-radius: 0.5rem 0 0 0.5rem;
}
.container__red:last-child{
    border-radius: 0 0.5rem 0.5rem 0 ;
}

.fa-youtube{
    font-size: 2.5rem;
    color: #FF0000;
    line-height: 1;
}

.red__parrafo{
    font-size: 2.5rem;
    color: #F7F8FD;
    font-weight: 600;
    margin-top: 0.5rem;
}

.fa-x-twitter{
    font-size: 2rem;
    color: #fff;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #000;
    padding: 0.2rem;
    border-radius: 0.5rem;
    text-align: center;
    line-height: 1;
}

.fa-instagram{
    font-size: 2.5rem;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 
45%,#d6249f 60%,#285AEB 90%); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    line-height: 1;
}

.fa-facebook{
    font-size: 2.5rem;
    color: #1878F1;
    line-height: 1;
}