*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    font-size: 1.6rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100%;
    background-color: #E8EFFA;
}

.layout{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.layout__card{
    width: 40rem;
    height: 25rem;
    margin: 3rem;
    background-color: #0D6EFD;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
}

#contenedorTarjetas {
    display: flex;
    flex-wrap: wrap;          
    gap: 1rem;                
    justify-content: center;  
}

.header{
    width: 100%;
    height: 7rem;
    border-bottom: 2px solid #0C60DC;
    margin-bottom: 2rem;
    border-radius: 1rem;
}

.card__subtitle{
    margin-top: 2rem;
    font-size: 1.7rem;
    font-weight: 400;
    text-align: center;
}

.card__title{
    font-size: 2.2rem;
    margin: 1rem;
}

.card__text{
    text-align: center;
    margin: 1rem;
}

.botones{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.card__btn-change{
    margin: 1rem;
    width: 35rem;
    height: 4rem;
    border-radius: 0.5rem;
    background-color: transparent;
    color: #fff;
    font-size: 1.6rem;
    outline: none;
    border: 2px solid #0C60DC;
}


.card__btn-delete{
    margin: 1rem;
    width: 35rem;
    height: 4rem;
    border-radius: 0.5rem;
    background-color: transparent;
    color: #fff;
    font-size: 1.6rem;
    outline: none;
    border: 2px solid #0C60DC;  
    cursor: pointer;
    transition: .3s all ease;
}

.card__btn-delete:hover{
    background-color: #c70cdc;
}


.layout__card.estilo-activo {
    box-shadow: 0 0 10px #c70cdc;
}

.layout__card.estilo-activo .header {
    background-color: #1B62CA;
}

.layout__card.estilo-activo .card__btn-change {
    background-color: #fff;
    color: #0C60DC;
    border: 2px solid #fff;
}


.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 60rem;
    height: 40rem;
    margin: 2rem 0 3rem 0;
    background-color: #0d6ccb;
    border-radius: 1rem;
    box-shadow: 0 0 5px #f9f9f9;
}

.label{
    font-weight: 600;
    width: 49rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    text-align: left;
    color: #f9f9f9;
}

.input{
    min-height: 4rem;
    width: 50rem;
    margin-bottom: 2rem;
    padding: 1rem;
    font-size: 1.5rem;
}

.textArea{
    min-height: 10rem;
    width: 50rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    padding: 1rem;
}

.boton{
    min-height: 4rem;
    width: 50rem;
    border: none;
    background-color: #358BD5;
    color: #E8EFFA;
    font-weight: 600;
    transition: .3s all ease;
    border-radius: 1rem;
}

.boton:hover{
    background-color: #c70cdc;
}