@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
    font-size: 10px;
}

body{
    font-size: 1.6rem;
    font-family: "Montserrat", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100vh;
}



.layout{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.layout__left{
    width: 75%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 500ms ease-in-out;
}

.left__bg{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.left__bg--1{
    background-image: url("../img/coche.jpg");
    width: 100%;
    height: 100%;
}
.left__bg--2{
    background-image: url("../img/coche2.jpg");
}
.left__bg--3{
    background-image: url("../img/coche3.jpg");
}
.left__bg--4{
    background-image: url("../img/coche4.jpg");
}

.btn__down{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 25%;
    margin: auto 0;
    padding: 1rem;
    border: none;
    border-radius: 0.5rem 0 0 0.5rem;
    cursor: pointer;
}

.btn__up{
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translateY(-50%);
    margin: auto 0;
    padding: 1rem;
    border: none;
    border-radius: 0 0.5rem 0.5rem 0;
    cursor: pointer;
}

.layout__rigth{
    width: 25%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    transition: transform 500ms ease-in-out;
}

.rigth__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.rigth__content--1{
    background-color: #CAD2F6;
}
.rigth__content--2{
    background-color: #f6ceca;
}
.rigth__content--3{
    background-color: #cbf6ca;
}
.rigth__content--4{
    background-color: #f6caf0;
}

.rigth__title{
    padding: 2rem;
    background-color: #323232;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    color: #fff;
    font-size: 3rem;
}

.rigth__description{
    font-weight: 600;
}