@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    height: 100%;
}

body{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    font-family: 'Montserrat', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.layout{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.layout__container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.background {
    position: absolute;
    top: -2rem;
    left: -2rem;
    width: 110%;
    height: 110%;
    background-image: url("../img/fondo.jpg");
    background-size: cover;
    background-position: center;
    transition: all .3s ease;
}

.background--blurred {
    filter: blur(5px);
    z-index: -1;
    transition: filter 0.05s ease; 
}

.background--sharp {
    z-index: 0;
}

.oculto {
    display: none;
}


.container__load,
.container__btn {
    position: relative;
    z-index: 1;
}
.container__load{
    font-size: 7rem;
    font-weight: 600;
    color: #fff;
    margin-bottom: 1rem;
}

.container__btn{
    width: 7%;
    height: 4.5%;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 600;
    background-color: #2B9A54;
    border-radius: 0.5rem;
    transition: .3s all ease;
    cursor: pointer;
}

.disolver{
    display: none;
}

.container__text{
    position: relative;
    font-size: 4rem;
    font-weight: 600;
    color: #2B9A54;
    margin-bottom: 1rem;
}